services:
  db:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_USER: ${DB_USER:-trailblazer}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: ${DB_NAME:-trailblazer_db}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
